<div ng-app="LookupTZ">

  <div id="map"></div>

	<div id="search">
    <form name="lookupZipcode" class="form-inline" ng-controller="formController" ng-submit="submitForm()">
      <div class="form-group">
		    <input type="text" class="form-control" placeholder="Enter zipcode" ng-model="zipcode" />
      </div>
      <button type="submit" class="btn btn-primary">Lookup Timezone Info</button>
      <div class="help-block"></div>
    </form>
	</div>

</div>
