<div ng-app="LookupTZ">

  <div id="map"></div>

  <div id="title">
    <h2>Time Zone Lookup API Test Console</h2>
  </div>

  <div id="testConsole" class="panel">
    <form name="testConsoleForm" ng-controller="testConsoleController" ng-submit="submitForm(testConsoleForm.$valid)" novalidate>
      <div class="input-form-group form-group">
        <label for="requestBodyInput">Request Body</label>
        <textarea id="requestBodyInput" class="form-control" ng-model="requestBody" placeholder='{ "zipcode": 97701 }' required></textarea>
        <div class="help-block"></div>
      </div>
      <div class="form-group">
        <label for="requestResponseInput">Request Response</label>
        <textarea id="requestResponseInput" class="form-control" ng-model="requestResponse" placeholder='Submit request to get response' readonly></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Post API request</button>
      <div class="help-block"></div>
    </form>
  </div>

</div>
