<div ng-app="LookupTZ" ng-controller="LookupTZController">

	<div class="bar">
		<input type="text" ng-model="searchString" placeholder="Enter zipcode" />
	</div>

  <div class="info">
  </div>

  <div class="map">
  </div>

</div>
