<div ng-app="LookupTZ">

  <div id="map"></div>

  <div id="title">
    <h2>Time Zone Lookup</h2>
    <div>Please enter a zip code to get started.</div>
  </div>

	<div id="search">
    <form name="zipcodeForm" class="form-inline" ng-controller="formController" ng-submit="submitForm(zipcodeForm.$valid)" novalidate>
      <div class="form-group">
		    <input type="text" class="form-control" placeholder="Enter zip code" ng-model="zipcode" required />
      </div>
      <button type="submit" class="btn btn-primary">Lookup Time Zone Info</button>
      <div class="help-block"></div>
    </form>
	</div>

  <div id="testConsole" class="panel">
    <h4>API Test Console</h4>
    <form name="testConsoleForm" ng-controller="testConsoleController" ng-submit="testConsoleForm(zipcodeForm.$valid)" novalidate>
      <div class="form-group">
        <textarea id="requestBodyInput" class="form-control" ng-model="requestBody" placeholder='{ "zipcode": 97701 }'></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Submit API request</button>
      <div class="help-block"></div>
    </form>
  </div>

</div>
